:root {
  --green: #69f0ae;
}

mat-toolbar {
  display: flex;
  align-items: center;
  height: 5rem;
}

mat-label {
  color: black;
  font-size: 1.3rem;
}

mat-form-field {
  margin-top: 1.4rem;
  margin-left: auto;
  width: 50rem;
}

input {
  background-color: black;
  font-size: 1.3rem;
}

a {
  font-size: 36px;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.upload {
  margin-left: 10px;
}

.SL-buttons {
  margin-left: auto;
}

.logIn {
  font-weight: bold;
  color: black;
  border: 2px solid black;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.logIn:hover {
  font-weight: bolder;
  color: var(--green);
  background-color: black;
}

.logOut {
  font-weight: bold;
  color: black;
  border: 2px solid black;
  transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.logOut:hover {
  font-weight: bolder;
  color: white;
  border: 2px solid transparent;
  background-color: red;
}

.menuItems {
  background-color: black;
}

.upload {
  margin-right: 15px;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.upload:hover {
  color: var(--green);
  background-color: black;
}
