<mat-toolbar [style.display]="hideToolbar ? 'none' : '' " color="accent">
  <a href="">VideoHub</a>
  <button class="upload" [style.display]="hideUnlogged ? 'none' : '' " mat-icon-button (click)="gotoUpload()">
    <mat-icon>upload</mat-icon>
  </button>
  <div class="SL-buttons">
    <button aria-label="log In" type="button" class="logIn" [style.display]="hideLogged ? 'none' : '' " mat-raised-button color="accent" (click)="logIn()">Login</button>
    <button aria-label="log Out" type="button" class="logOut" [style.display]="hideUnlogged ? 'none' : '' " mat-raised-button (click)="logOut()"  color="accent"><mat-icon>arrow_forward</mat-icon> Out</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
