:root {
  --green: #69f0ae;
}

video {
  height: 325px;
  width: 485px;
  border-radius: 10px;
  justify-content: center;
  background-color: black;
}

.page-title {
  color: var(--green);
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

.delete-button {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  color: var(--green);
  background-color: transparent;
  border: 2px solid var(--green);
  transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.delete-button:hover {
  font-weight: bolder;
  color: white;
  border: 2px solid transparent;
  background-color: red;
}

.hand-cursor {
  cursor: pointer;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(485px, 2rem));
  grid-gap: 1rem;
  padding: 1rem;
}

.video-item__details {
  display: flex;
  margin-top: 5px;
}

h3 {
  margin-bottom: 0%;
  color: white;
}

p {
  font-size: small;
  color: grey;
  margin-bottom: 0%;
}

a {
  text-decoration: none;
}

img {
  height: 36px;
  width: 36px;
  border-radius: 50px;
  margin-right: 10px;
}

mat-paginator {
  float: right;
  width: 14rem;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}
