<h1 class="page-title">Your videos:</h1>

<button type="button" class="menu" mat-button [matMenuTriggerFor]="menu">
  Sort By
  <mat-icon matSuffix>sort</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sortBy('top')">Top videos</button>
  <button mat-menu-item (click)="sortBy('newest')">Newest</button>
  <button mat-menu-item (click)="sortBy('oldest')">Oldest</button>
</mat-menu>

<div class="video-grid">
  <div
    class="video-item"
    *ngFor="
      let video of Videos
        | slice
          : (currentPage - 1) * videosPerPage
          : currentPage * videosPerPage
    "
  >
    <a (click)="redirectToPlayer(video._id!)" class="hand-cursor">
      <video [src]="video.url" alt="Miniatura of video"></video>
      <div class="video-item__details">
        <img [src]="video.userPhoto" alt="Avatar of user" />
        <div>
          <h3>{{ video.title }}</h3>
          <p>{{ video.fromUser }}</p>
        </div>
      </div>
    </a>
    <button
      class="delete-button"
      type="button"
      mat-raised-button
      (click)="deleteVideo(video._id!)"
    >
      Delete
    </button>
  </div>
</div>
<mat-paginator
  araia-label="Select page"
  [pageIndex]="currentPage - 1"
  [length]="totalVideos"
  [pageSize]="videosPerPage"
  [hidePageSize]="true"
  (page)="onPageChange($event)"
></mat-paginator>
