<mat-toolbar color="accent">
  <span>WatchEm'</span>
  <button class="upload" [style.display]="hide ? '' : 'none' " mat-icon-button (click)="gotoUpload()">
    <mat-icon>upload</mat-icon>
  </button>
  <div class="SL-buttons">
    <button aria-label="log In" type="button" class="logIn" [style.display]="hide ? 'none' : '' " mat-raised-button (click)="logIn()">Login</button>
    <button aria-label="log Out" type="button" class="logOut" [style.display]="hide ? '' : 'none' " mat-raised-button (click)="logOut()">Log out</button>
  </div>
</mat-toolbar>
