<style>
  .main {
    min-width: 300px;
    max-width: 100%;
    min-height: 0.5rem;
    max-height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 5px;
    color: white;
    background-color: darkcyan;
    border-radius: 10px;
    box-sizing: inherit;
    position: relative;
  }

  .navbar {
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
</style>

<div class="main">
  <div class="navbar">
    NAVBAR
  </div>
</div>

<router-outlet></router-outlet>
