<mat-toolbar color="accent">
  <span (click)="gotoHome()">WatchEm'</span>
  <button class="upload" [style.display]="hide ? '' : 'none' " mat-icon-button (click)="gotoUpload()">
    <mat-icon>upload</mat-icon>
  </button>
  <div class="SL-buttons">
    <button aria-label="log In" type="button" class="logIn" [style.display]="hideLogin ? 'none' : '' " mat-raised-button color="accent" (click)="logIn()">Login</button>
    <button aria-label="log Out" type="button" class="logOut" [style.display]="hide ? '' : 'none' " mat-raised-button (click)="logOut()"  color="accent"><mat-icon>arrow_forward</mat-icon>Log Out</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
