video {
  min-height: 250px;
  min-width: 450px;
  border-radius: 10px;
  background-color: black;
}

.video-background {
  width: 1120px;
}

.viedo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 3rem;
}

.title-buttons {
  display: flex;
  align-items: center;
}

.video-title {
  display: flex;
  color: white;
  font-size: 1.5rem;
}

img {
  height: 36px;
  width: 36px;
  border-radius: 50px;
  margin-right: 10px;
}

.user-info {
  align-items: center;
  display: flex;
}

.video-user-name {
  font-size: 1rem;
}
