<div class="video-container">
  <div class="video-background">
    <video
      controls
      autoplay
      name="media"
      [src]="video.url"
      alt="Reproductor de video"
    ></video>
  </div>

  <div class="video-info">
    <span class="video-title">{{ video.title }}</span>
    <button mat-icon-button matTooltip="Basic" aria-label="like button" class="video-like">
      <mat-icon>thumb_up_outlined</mat-icon>
    </button>
  </div>

  <div class="user-info">
    <img class="video-user-image" [src]="userPhoto" alt="Imagen de usuario" />
    <span class="video-user-name">{{ userName }}</span>
  </div>
</div>
