.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

  h1 {
    margin-bottom: 20px;
    color: var(--green);
  }

  &__container {
    width: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 400px;
    background-color: #000000;
  }

  label {
    display: none;
    font-size: medium;
  }

  .inputfilechooser {
    display: none;
  }

  video {
    display: flex;
    max-width: 225px;
    max-height: 400px;
    border-radius: 10px;
  }

  .videoNoSelected {
    display: flex;
    color: red;
    margin-top: 5px;
  }

  .videoThumbnails {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
  }

  .video-details {
    display: flex;
    flex-direction: column;
  }


  .uploadButton {
    margin-bottom: 5px;
  }

  hr {
    margin: 30px 0;
  }

  mat-progress-bar {
    margin-bottom: 20px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
    color: var(--green);
  }

  .mdc-button {
    width: 100%;
    color: var(--green);
    background-color: black;
    border: 1px solid var(--green);
    transition: color 0.5s ease, background-color 0.5s ease;
    margin-top: 5px;
  }

  .mdc-button:hover {
    font-weight: bold;
    color: black;
    background-color: var(--green);
  }

  .small-text {
    font-size: 14px;
    display: block;
    text-align: center;

    &.providers {
      margin-bottom: 30px;
    }

    &.login-redirect {
      margin-top: 20px;

      a {
        color: var(--green);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
